@import 'tailwindcss';
@import '@ecopages/radiant-ui/themes/default';
@import './theme.css';
@import '@ecopages/radiant-ui/styles.css';
@import './fonts.css';
@import './components/prose.css';

html {
	scrollbar-gutter: stable;
}

body {
	@apply min-h-svh overflow-x-hidden bg-background text-on-background font-sans antialiased;
	display: flex;
	flex-direction: column;
}

a,
button,
input,
select,
textarea {
	touch-action: manipulation;
}
